@model IEnumerable<KlopZavod.Models.PKvitanciya>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                № ПК
            </th>
            <th>
                Дата
            </th>
            <th>
                Дехканское Хозяйство
            </th>
            <th>
                № Накл.
            </th>
            <th>
                № Партии
            </th>
            <th>
                Физ.вес
            </th>
            <th>
                Засор
            </th>
            <th>
                Расч.вес
            </th>
            <th>
                Влажн
            </th>
            <th>
                Конд.Масс
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomerPK)
            </td>
            <td>
                @{
                    string dateValue = item.Data.ToString("dd.MM.yyy");
                }
                @Html.DisplayFor(modelItem => dateValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khojagi.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomerNakl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partiya.PartiyaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FizVes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zasor)
            </td>
            <td>
                @{
                    double rasVes = Math.Round(item.getRaschVes(), 2);
                }
                @Html.DisplayFor(modelItem => rasVes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vlagn)
            </td>
            <td>
                @{
                    int kondMass = item.getKondMass();
                }
                @Html.DisplayFor(modelItem => kondMass)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.PKvitanciyaID"><img src="~/img/edit.png" width="16" height="16"></a> |
                <a asp-action="Details" asp-route-id="@item.PKvitanciyaID"><img src="~/img/detail.png" width="16" height="16"></a> |
                <a asp-action="Delete" asp-route-id="@item.PKvitanciyaID"><img src="~/img/delete.png" width="16" height="16"></a>
            </td>
        </tr>
}
    </tbody>
</table>
