@model IEnumerable<KlopZavod.Models.Khojagi>

@{
    ViewData["Title"] = "Список";
}

<h1>Список дехканских хозяйств</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-4 border border-dark rounded-lg mx-3 text-center">
        
            <img class="rounded-circle" src="@("~/img/avatImg/"+item.ImageName)" asp-append-version="true" width="140" height="140" />
        
            <h2> @Html.DisplayFor(modelItem => item.Name)</h2>
        <p>
            <a asp-action="Edit" asp-route-id="@item.KhojagiID"><img src="~/img/edit.png" width="16" height="16"></a> |
            <a asp-action="Details" asp-route-id="@item.KhojagiID"><img src="~/img/detail.png" width="16" height="16"></a> |
            <a asp-action="Delete" asp-route-id="@item.KhojagiID"><img src="~/img/delete.png" width="16" height="16"></a>
        </p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Директор: @Html.DisplayFor(modelItem => item.Director)
            </li>
            <li class="list-group-item"> 
                ИНН: @Html.DisplayFor(modelItem => item.RMA)
            </li>
            <li class="list-group-item">
                Телефон: @Html.DisplayFor(modelItem => item.Phone)
            </li>
            <li class="list-group-item">
                Гектар(га): @Html.DisplayFor(modelItem => item.Ga)
            </li>
            <li class="list-group-item">
                Ассоциация: @Html.DisplayFor(modelItem => item.Assoc.Name)
            </li>
            <li class="list-group-item">
                Район: @Html.DisplayFor(modelItem => item.Rayon.Name)
            </li>
        </ul>




            

    </div><!-- /.col-lg-4 -->
}
</div>
